<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}
.style3 {color: #FFFFFF}
-->
</style>
</head>

<body>
     
<form id="form1" name="form1" method="post" action="calcular.php">
  <table width="629" border="0" align="center">
    <tr>
      <td bgcolor="#000000"><div align="center" class="style2"></div></td>
    </tr>
  </table>
  <table width="629" border="0" align="center">
    <tr>
      
      <td width="159" bgcolor="#666666"><div align="right" class="style3">Descrição do Produto</div></td>
      <td width="120"><input name="DS_PRODUTO" type="text" id="DS_PRODUTO" size="20" /></td>
      <td width="150" rowspan="6" valign="top"><img src="http://www-pet.inf.ufsm.br/php2009/php.png" width="150" height="150" vspace="15" align="middle" /></td>
    </tr>
    <tr>
      </tr>
    <tr>
      <td bgcolor="#666666"><div align="right" class="style3">Quantidade</div></td>
      <td><input name="QTD_PRODUTO" type="text" id="QTD_PRODUTO" size="10" /></td>
      </tr>
      <tr>
      <td bgcolor="#666666"><div align="right" class="style3">Valor do Produto R$</div></td>
      <td><input name="VALOR_PRODUTO" type="text" id="VALOR_PRODUTO" size="10" /></td>
    </tr>
    
    <tr>
      <td bgcolor="#666666"><div align="right" class="style3">Total R$</div></td>
      <td><input name="VALOR_TOTAL" type="text" id="VALOR_TOTAL" size="10" /></td>
    </tr>
      <tr>
      <td bgcolor="#666666"><div align="right" class="style3">Valor Recebido R$</div></td>
      <td><input name="serv" type="text" id="serv" size="10" /></td>
    </tr>
    <tr>
      <td bgcolor="#666666"><div align="right" class="style3">Troco R$</div></td>
      <td><input name="VALOR_TROCO" type="text" id="VALOR_TROCO" size="10" /></td>
    </tr>
    <tr>
      <td bgcolor="#666666"><div align="right" class="style3">Finalizar</div></td>
      <td><label>
        <input type="submit" name="button" id="button" value="Finalizar" />
      </label></td>
    </tr>
    <tr>
      <td colspan="5" bgcolor="#666666"><div align="center" class="style1"></div></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
